*{
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
}
hr{
    border-top: 2px solid #d5d5d5;
    width: 20%;
    margin-top: .8rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}
hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}
hr.my4{
    border-top: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.navbar{
    background-color: lightcyan;
}
.navbar ul{
    padding: 0 10px;
}
.navbar ul li{
    padding: 0 50px;
}
.nav-item{
    color: black;
    font-family: monospace;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}
.dropdown-toggle::after{
    display: none;
}
/* End Header */

/* Slider */
.carousel-inner img{
    width: 100%;
    height: 100%;
}
/* End Slider */

/* Information */
/* About */
#about h1{
    font-size: 5rem;
}
#about p{
    padding: 15px 50px 0 0;
    text-align: justify;
    line-height: 2.5rem;
}
#about .btn{
    margin-bottom: 3rem;
}
/* End About */
/* Character */
.card img{
    border-radius: 20px 20px 0px 0px;
}
.card{
    border-radius: 20px;
}
.card:hover{
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}
/* End Character */

/* Connect */
#connect{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.social a{
    font-size: 4.5em;
    padding: 3rem;
}
.fa-facebook{
    color: #3b5998;
}
.fa-twitter{
    color: #00aced;
}
.fa-instagram{
    color: #517fa4;
}
.fa-youtube{
    color: #bb0000;
}
.fa-google-plus-g{
    color: #dd4b39;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-youtube:hover,
.fa-google-plus-g:hover{
    color: #d5d5d5;
}
/* End Connect */

/* End Information */

/* Footer */
footer{
    background-color: lightcyan;
    color: lightslategray;
    padding-top: 2rem;
}
footer img{
    padding-top: 2rem;
    width: 200px;
}
footer ul li{
    list-style-type: none;
    margin: -7px;
}
footer .icn {
    font-family: monospace;
    font-size: 18px;
    color: black;
}
footer ul .icn {
    text-transform: uppercase;
}
/* End Footer */

/* Responsive */
@media (max-width: 992px){

}
@media (max-width: 768px){
    .dropdown .dropdown-menu::after{
        display: none;
    }
}
@media (max-width: 576px){
    .dropdown .dropdown-menu::after{
        display: none;
    }
}
/* End Responsive */

/* Contact Us */
#contactus{
    padding: 40px 0 0 0;
}
#contactus .heading {
    font-family: monospace;
    text-align: center;
    font-size: 45px;
    border-bottom: 2px dotted #fff;
    color: black;
}
#contactus .btn-info {
    color: black;
    width: 50%;
    letter-spacing: 2px;
    background: transparent;
    transition: all 0.5s ease-in-out;
}

#contactus .btn-info:hover {
    transform: scale(1.05);
}

#contactus .icn {
    font-family: monospace;
    font-size: 17px;
    color: black;
}

#contactus hr {
    border-top: 2px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

#contactus .media a {
    /* color: black; */
    font-family: monospace;
    font-size: 27px;
    padding: 0 0 0 50px;
    margin-right: 10px;
}
#contactus a:hover {
    color: #999;
}

#contactus iframe {
    width: 100%;
}
/* End Contact Us */